@tailwind components;
@tailwind utilities;

:root {
  --text-base: 1.5rem; /* 24px */
  --text-lg: 1.675rem; /* ~27px */
  --text-2xl: 1.875rem; /* 30px */
  --text-3xl: 2.25rem; /* 36px */
}

body {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.2 !important;
  background-color: #f5f1e8 !important;
  color: black !important;
  margin: 0;
}

h1 {
  font-family: var(--font-zilla) !important;
  line-height: 1.4 !important;
  color: #660000 !important;
  font-size: 2.25rem !important;
  margin-bottom: 0.25rem !important;
  font-weight: 400 !important;
}

h1 + p {
  margin-top: 0 !important;
}

p {
  font-size: var(--text-base) !important;
  line-height: 1.5 !important;
}

h2 {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
  margin-bottom: 0.25rem !important;
}

h2 + p {
  margin-top: 0 !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }

  p {
    font-size: var(--text-lg) !important;
  }

  h2 {
    font-size: var(--text-3xl);
  }

  .grid p {
    font-size: var(--text-lg) !important;
  }
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2rem !important;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links .nav-link {
  font-size: 1.35rem !important;
  line-height: 1.2 !important;
  color: black !important;
  font-family: "Cormorant Garamond", serif !important;
  text-decoration: none;
  margin-right: 2rem;
  padding: 0.5rem 0;
}

.nav-links .nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.nav-links .nav-link:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
