@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-base: 1.5rem;
  --text-lg: 1.675rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
}

@layer base {
  body {
    @apply font-cormorant bg-[#f5f1e8] text-black;
    line-height: 1.2;
  }

  h1 {
    @apply font-zilla text-[#660000] text-[2.25rem] md:text-[3rem] mb-1 font-normal leading-[1.4];
  }

  p {
    @apply text-[length:var(--text-base)] md:text-[length:var(--text-lg)] leading-[1.5];
  }

  h2 {
    @apply text-[1.8rem] md:text-[length:var(--text-3xl)] leading-8 mb-1;
  }
}

@layer components {
  .nav-link {
    @apply text-black hover:underline hover:underline-offset-2 hover:decoration-1;
  }
}
